img{
	width: 15%;
}

.heading {
    text-align: center;
    padding-top: 40px;
}

.twoChoices {
    text-align: center;
    padding-top: 100px;
}

.threePossibleChoices {
    padding-top: 160px;
    text-align: center;
}

.threePossibleChoices img {
    width: 180px;
    height: 200px;
}


.threePossibleChoices img:hover {
    width: 190px;
    height: 210px;
    transition: all 600ms ease-in-out;
}

.threePossibleChoices btn {
    background: hidden;
}